<form class="col-xs-12" method="post" action="/file/save" enctype="multipart/form-data">

    <div class="form-group">
        <input type="file" class="form-control" name="file" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary col-xs-12">Add</button>
    </div>
</form>