@using Thesis.Areas.Identity.Models
@model UserModel
<htmL>
   <body>
      <form>
         <div class="mb-3">
            <label for="userName" class="form-label">Username</label>
            <input name="userName" value="@Model.userName"  class="form-control" disabled readonly id="userName">
         </div>
         <div class="mb-3">
         <label for="email" class="form-label">E-mail</label>
         <input name="email" value="@Model.email" class="form-control" disabled readonly id="email">
         </div>
      </form>
   </body>
</html>