@using Thesis.Models
@model Course
<h1 class="display-5 fw-bold">@Model.name</h1>
<h5 class="col-md-12" style="border: solid 0.5px; padding: 0.5em 0.5em 0.5em 0.5em">@Model.description</h5>

@foreach (Activity activity in Model.activities)
{
    @await Component.InvokeAsync("FeedActivity", activity)
    <hr />
}