@using Thesis.Areas.Forum.Models;
@model List<CategoryModel>

<h3>Forum</h3>

@foreach (CategoryModel category in Model)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@category.name</h5>
            <p class="card-text">
                @category.posts posts
                <br/>    
                Last activity: @category.newestActivity
            </p>
            <a href="/forum/forum/category?id=@category.categoryId" style="float: right" class="btn btn-primary">See posts</a>
        </div>
    </div>
    <br/>
}