<!DOCTYPE html><!--
	Copyright (c) 2014-2023, CKSource Holding sp. z o.o. All rights reserved.
	This file is licensed under the terms of the MIT License (see LICENSE.md).
-->

<html lang="en" dir="ltr">
	<head>
		<title>CKEditor 5 DecoupledDocumentEditor build</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="w.idth=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="https://c.cksource.com/a/1/logos/ckeditor5.png">
		<link rel="stylesheet" href="~/css/wysiwyg.css" asp-append-version="true" />
	</head>
	<body data-editor="DecoupledDocumentEditor" data-collaboration="false" data-revision-history="false">
		<main>
			<div class="message">
				<div class="centered">
					<h2>Wprowadź tekst</h2>
				</div>
			</div>
			<div class="centered">
				<div class="row">
					<div class="document-editor__toolbar"></div>
				</div>
				<div class="row row-editor">
				<div style="background-color: green" onclick="save()" class="btn btn-success">Zapisz</div>
					<div class="editor-container">
						<div class="editor">
							
						</div>
					</div>
				</div></div>
			</div>
		</main>
		<footer>
			<p><a href="https://ckeditor.com/ckeditor-5/" target="_blank" rel="noopener">CKEditor 5</a>
				– Rich text editor of tomorrow, available today
			</p>
			<p>Copyright © 2003-2023,
				<a href="https://cksource.com/" target="_blank" rel="noopener">CKSource</a>
				Holding sp. z o.o. All rights reserved.
			</p>
		</footer>
	@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/js/ckeditor.js"></script>
		<script>DecoupledDocumentEditor
				.create( document.querySelector( '.editor' ), {
					
					licenseKey: '',
					
					
					
				} )
				.then( editor => {
					window.editor = editor;
			
					// Set a custom container for the toolbar.
					document.querySelector( '.document-editor__toolbar' ).appendChild( editor.ui.view.toolbar.element );
					document.querySelector( '.ck-toolbar' ).classList.add( 'ck-reset_all' );
				} )
				.catch( error => {
					console.error( 'Oops, something went wrong!' );
					console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
					console.warn( 'Build id: 6o36d326a3dv-u9490jx48w7r' );
					console.error( error );
				} );
				function save() {
					const content = $('.editor').html();
					console.log(content);
					fetch('/Text/save', {
						method: 'POST',
						headers: {
							Accept: 'application.json',
							'Content-Type': 'application/json'
						},
				body: JSON.stringify(content)
					}).catch(error => alert(error));
				}
		</script>
	</body>
</html>